// @import './variables';

.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 0 1rem;
            text-align: center;
            background-color: var(--body-color);
            transition: .4s;
            box-shadow: 0 4px 4px rgba(0,0,0,.1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
        }
    }
    &__item{
        margin-bottom: var(--mb-2);
    }
    &__link, &__logo, &__toggle{
        color: var(--text-color);
        font-weight: var(--font-medium);
    }
    &__logo{
        &:hover{
            color: var(--first-color);
        }
    }
    &__link{
        transition: .3s;
        
        &:hover{
            color: var(--first-color);
        }
    }
    &__toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu{
    top: var(--header-height);
}
/* Active menu */
.active-link{
    color: var(--first-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}